@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --light: rgba(255, 255, 255, 0.87);
  --dark: #0D1117;

  --light-50: rgba(255, 255, 255, 0.5);
  --light-40: rgba(255, 255, 255, 0.4);
  --light-30: rgba(255, 255, 255, 0.3);
  --light-20: rgba(255, 255, 255, 0.2);
  --light-10: rgba(255, 255, 255, 0.1);
  --dark-2: #1a1a1a;

  font-family: "Onest", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--light);
  background-color: var(--dark);
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #f29553;
}

h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.2em;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-2);
  color: var(--light);
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border-color: #646cff;
}

.container {
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
}

section,
footer {
  padding: 3em;
}

#hero {
  padding-top: 10em;
  padding-bottom: 7em;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero .description {
  max-width: 32rem;
}

#hero p {
  margin-top: 1em;
  font-size: 20px;
}

#hero p strong {
  color: #f2d253;
}

#hero .avatar {
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 0 50px #f2b25347;
}

/* Laboral Experience */
#experiencia-laboral h2 {
  margin-bottom: 1em;
}

/* Experience Card */
.experience-card {
  margin-left: 48px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  row-gap: 1em;

  position: relative;
}

.experience-card header::before {
  content: '';
  width: 2px;
  height: 100%;
  background: var(--light-20);

  position: absolute;
  left: -25px;
}

.experience-card header .dot {
  width: .8em;
  aspect-ratio: 1;
  border-radius: 50%;

  position: absolute;
  left: -24px;
  top: 16px;
  transform: translateX(-50%);
}

.experience-card header .role,
.experience-card header .enterprise {
  font-size: 1.4em;
  line-height: 1.2;
}

.experience-card header .time {
  font-size: .9em;
}

.experience-card .description {
  padding-bottom: 5em;
}

.experience-card:nth-child(even) header .dot {
  background: #535bf2;
  box-shadow: 0 0 30px 10px #535bf281;
}

.experience-card:nth-child(even) header .role {
  color: #535bf2;
}

.experience-card:nth-child(odd) header .dot {
  background: #5bf253;
  box-shadow: 0 0 30px 10px #63f25381;
}

.experience-card:nth-child(odd) header .role {
  color: #5bf253;
}

.experience-card:last-child header::before {
  background: linear-gradient(var(--light-20) 70%,
      rgba(0, 0, 0, 0));
}

.proyect-card {
  background: var(--dark-2);
  margin-top: 2em;
  border: 1px solid var(--light-30);
  padding: 2em 1.5em;
  border-radius: 32px;
  transition: all ease .3s;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.proyect-card:hover {
  color: inherit;
  opacity: inherit;
  cursor: pointer;
  scale: 1.01;
}

.proyect-card img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 32px;
}

.proyect-card h4{
  color: #ffffff;
}

.proyect-card .content {
  display: grid;
  align-content: start;
  gap: .5em;
}

.tags {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.tag-item {
  background: var(--dark-2);
  padding: 5px 15px;
  border-radius: 99rem;
  border: 1px solid var(--light-50);
  box-shadow: 0 0 15px var(--light-10);
  cursor: pointer;
  transition: all .3s;

  display: flex;
  align-items: center;
  gap: .5em;
}

.tag-item:hover {
  background: var(--light);
  color: var(--dark);
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer p>a{
  margin-left: 5px;
}

@media (max-width: 768px) {

  #hero .container {
    flex-direction: column;
    align-items: start;
    gap: 2em;
  }

  #hero .avatar {
    order: -1;
  }

  section {
    padding: 1em 2em;
  }

  .experience-card {
    grid-template-columns: 1fr;
  }

  .proyect-card {
    grid-template-columns: 1fr;
  }

  .proyect-card img {
    width: 500px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}